.navbar {
    background-color: white !important;
    max-width: 1280px !important;
}

.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px !important;
}

.logo-blog {
    width: 40px;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-radius: 30px !important;
}

.icons-nav {
    margin: 0 20px 0 20px !important;
}

